<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
-->
{% extends "Progress/scan_base.html" %}
{% block main_card_content %}
    <div class="row">
        <h5>Complete papers: {{ number_of_completed_papers }}</h5>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="overflow-auto" style="max-height:66vh;">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>Paper</th>
                                <th>Pages</th>
                            </tr>
                            {% for pn,pages in completed_papers_list %}
                                <tr>
                                    <td>{{ pn }}</td>
                                    <td>
                                        {% for fp in pages.fixed|dictsort:"page_number" %}
                                            <button hx-get="{% url 'progress_pushed_img_wrap' fp.img_pk %}"
                                                    hx-target="#imageHere"
                                                    hx-replace="innerHTML"
                                                    class="btn btn-outline-success">{{ fp.page_number }}</button>
                                        {% endfor %}
                                        {% for mp in pages.mobile|dictsort:"question_number" %}
                                            <button hx-get="{% url 'progress_pushed_img_wrap' mp.img_pk %}"
                                                    hx-target="#imageHere"
                                                    hx-replace="innerHTML"
                                                    class="btn btn-outline-info">q.{{ mp.question_number }}</button>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2 border" id="pushedImageFragment">
            <h6>Page image</h6>
            <div class="p-2"
                 style="height: 30vw;
                        width: 30vw;
                        justify-content: center;
                        display:flex;
                        align-items:center"
                 id="imageHere"></div>
        </div>
    </div>
{% endblock main_card_content %}
