<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "Progress/scan_base.html" %}
{% block main_card_content %}
    <div class="row">
        <h5>Incomplete papers: {{ number_of_incomplete_papers }}</h5>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="overflow-auto" style="max-height:66vh;">
                        <table class="table table-striped table-sm">
                            <tr>
                                <th>Paper</th>
                                <th>Pages</th>
                            </tr>
                            {% for pn,pages in incomplete_papers_list %}
                                <tr>
                                    <td>{{ pn }}</td>
                                    <td>
                                        {% for fp in pages.fixed|dictsort:"page_number" %}
                                            {% if fp.img_pk %}
                                                <button hx-get="{% url 'progress_pushed_img_wrap' fp.img_pk %}"
                                                        hx-target="#incompleteImageHere"
                                                        hx-replace="innerHTML"
                                                        class="btn btn-outline-success">{{ fp.page_number }}</button>
                                            {% else %}
                                                <span class="badge m-1 p-3 fs-6 bg-danger"
                                                      data-bs-toggle="tooltip"
                                                      data-bs-placement="top"
                                                      data-bs-title="missing {{ pn }}.{{ fp.page_number }}">{{ fp.page_number }} </span>
                                            {% endif %}
                                        {% endfor %}
                                        {% for mp in pages.mobile|dictsort:"question_number" %}
                                            <button hx-get="{% url 'progress_pushed_img_wrap' mp.img_pk %}"
                                                    hx-target="#incompleteImageHere"
                                                    hx-replace="incompletInnerHTML"
                                                    class="btn btn-outline-info">q.{{ mp.question_number }}</button>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-2 border" id="pushedImageFragment">
            <h6>Page image</h6>
            <div class="p-2"
                 style="height: 30vw;
                        width: 30vw;
                        justify-content: center;
                        display:flex;
                        align-items:center"
                 id="incompleteImageHere"></div>
        </div>
    </div>
{% endblock main_card_content %}
