<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Edith Coates
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
{% block page_heading %}
    Rubrics
{% endblock page_heading %}
{% block main_content %}
    {% comment %} Filter {% endcomment %}
    <div>
        <form method="get" action="" class="form-inline">
            <div class="form-group mr-2">{{ rubric_filter_form }}</div>
            <button type="submit" class="btn btn-success">Filter</button>
        </form>
    </div>
    {% comment %} Table {% endcomment %}
    <div>
        <table class="table table-striped table-bordered sortable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Value</th>
                    <th scope="col">Out of</th>
                    <th scope="col">Display Delta</th>
                    <th scope="col">Kind</th>
                    <th scope="col">Question</th>
                    <th scope="col"># used</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
                {% for rubric in rubrics %}
                    <tr>
                        <td>
                            <a href="{% url 'rubric_item' rubric.key %}">{{ rubric.key }}</a>
                        </td>
                        <td>{{ rubric.value }}</td>
                        <td>{{ rubric.out_of }}</td>
                        <td>{{ rubric.display_delta }}</td>
                        <td>{{ rubric.kind }}</td>
                        <td>{{ rubric.question }}</td>
                        <td></td>
                        <td>{{ rubric.text }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} For sorting table by clicking headers {% endcomment %}
    {% comment %} TODO: move to a more appropriate place (Issue #2762) {% endcomment %}
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock main_content %}
